.col {
display: grid;
place-items: center;

}


.form{
    margin-top: 40px;
    width: 400px;
    padding: 40px;
    background: #212529;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    color: white;
}



.errore{
  color:  rgba(183, 43, 43, 0.979);
  font-weight: 700;
}

h1{
    margin-bottom: 25px;
}

.login {
    padding: 14px 40px;
    border: none;
    border-radius: 24px;
    font-weight: 600;
    margin: 20px auto;
    cursor: pointer;
}


label{
    margin-bottom: 10px;
}




.col {
    animation: fadeIn  1s;
  }


  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }














.main {
    width: 100%;
    height:100vh;
    background: linear-gradient(-25deg, #03512a, #047a4b, #083919, #19631d);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }

  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
































// input{



//     background-color: #f6f6f6;
//     border: none;
//     color: #0d0d0d;
//     padding: 15px 80px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     text-transform: uppercase;
//     font-size: 13px;
//     -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
//     box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
//     border-radius: 5px 5px 5px 5px;
//     margin: 5px 20px 40px 20px;
// }
